@font-face {
    font-family: 'Outfit-Regular';
    src: url('font/Outfit-Regular.ttf');
}

* {
    font-family: 'Outfit-Regular','Times New Roman';
}


.container {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
   
}

.sheet {
    height: 2125px;
  width: 731px;
  background-color: hsl(270, 100%, 100%);
  border-radius: 21px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
  margin-bottom: 21px;
  padding: 60px;
}
  

.foodimg {
    height: 358px;
    width: 779px;
    background-image: url(img/image-omelette.jpeg);
    background-size: cover;
    border-radius: 12px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
   
}


.font_weight {
    font-weight: bold;
    font-size: 55px;
}


.txt {
    font-size: 20px;
}

.prep {
    height: 227px;
    width: 699px;
    border-radius: 10px;
    background-color: hsl(30, 54%, 90%);
    margin-right: -4px;
    margin-top: 33px;
    font-size: 20px;
    padding-left: 28px;
    padding-right: 28px;

}
   
 

.ingredients {
  width: 635px;
  border-bottom: 1px solid hsl(331, 24%, 78%);
  font-size: 22px;
  margin-right: 123px;   
}


.instructions {
  width: 824px;
  border-bottom: 1px solid hsl(331, 24%, 78%);
  font-size: 23px;
}
 

.nutrition  {
    font-size: 26px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    line-height: 58px;
  
}


.tr_border {
    border-bottom: 1px solid  hsl(331, 24%, 78%);
    

}

.color {
    color: hsl(0, 29%, 36%);

}


